nav {
  width: 100%;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brand {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brand svg {
  min-width: 5rem;
  height: 3rem;
}

.brand h1 {
  font-size: 2rem;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.links .btn {
  padding: 0.5rem;
  background-color: var(--accent);
  border-radius: 0.2rem;
  -webkit-transition: all var(--time);
  transition: all var(--time);
}

.links .btn svg {
  width: 1rem;
  height: 1rem;
}

.links .btn:hover, .links .btn:active {
  -webkit-filter: brightness(0.95);
          filter: brightness(0.95);
}

@media only screen and (max-width: 760px) {
  .brand {
    gap: 0.5rem;
  }
  .brand svg {
    min-width: 3rem;
    height: 2rem;
  }
  .brand h1 {
    font-size: 1.4rem;
  }
  .links {
    gap: 0.5rem;
  }
  .links .btn:hover {
    -webkit-filter: none;
            filter: none;
  }
  .links .btn:active {
    -webkit-filter: brightness(0.95);
            filter: brightness(0.95);
  }
}
