.color-picker {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .variants {
        width: 100%;
        height: 100%;
        display: flex;
    }
    .shade {
        width: 10vw;
        height: 100px;
        transition: 100ms;
        cursor: pointer;
        display: grid;
        place-items: center;
        user-select: none;
        font-family: var(--ff-mono);

        &:hover {
            transform: scale(1.2);
        }
        &:active {
            transform: scale(1.1);
        }
        &:hover span {
            display: block;
        }

        span {
            font-size: 0.8rem;
            pointer-events: none;
            display: none;
        }
    }
}

@media only screen and (max-width: 1100px) {
    .color-picker {
        .shade {
            min-width: 150px;
            &:hover {
                transform: scale(1);
            }
            &:active {
                transform: scale(0.9);
            }
            &:active span {
                display: block;
            }
        }
    }
}
